.about {
    padding: 62px 0;
}

.about__title {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 24px;
    max-width: 700px;
}

.about__description {
    line-height: 150%;
    max-width: 700px;
    margin: 0 0 72px;
}

.about__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 384px);
    gap: 24px 32px;
}

.about__item {
    padding: 6px 6px 6px 96px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;
}

.about__item_top {
    background-image: url(../img/top-specialists.svg);
}

.about__item_master {
    background-image: url(../img/masters.svg);
}

.about__item_garantee {
    background-image: url(../img/garantee.svg);
}

.about__item-title {
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 2 2px; 
    text-transform: uppercase;
}

.about__item-description {
    margin: 0;
    line-height: 130%;
    color: #BFBDB2;
}

@media (max-width: 1024px) {
    .about__list {
        grid-template-columns: repeat(auto-fit, 290px);
        gap: 24px 29px;
    }

    .about__description {
        margin: 0 0 46px;
    }
}

@media (max-width: 768px) {
    .about__title {
        font-size: 32px; 
    }

    .about__description {
        margin: 0 0 32px;
    }      
      
    .about__item-title {
        font-size: 16px; 
    }

    .about__list {
        grid-template-columns: repeat(auto-fit, 320 px);
        gap: 24px 32px;
    }
}

@media (max-width: 560px) {
    .about__title {
        font-size: 20px;
    }

    .about__description {
        font-size: 12px;
        margin: 0 0 32px;
    }
    
    .about__list {
        grid-template-columns: repeat(auto-fit, 272 px);
    }

    .about__item-title {
        font-size: 16px; 
    }

    .about__item-description {
        font-size: 12px;
    }

    .about__item {
        background-size: 64px;
        padding: 6px 20px 6px 70px;
    }    
} 